{
  "server": {
    "port": "50051"
  },
  "database": {
    "host": "postgres://user:db_password@localhost:5434/db_name?sslmode=disable"

  },
  "redis": {
    "host": "localhost:6379",
    "password": "",
    "db": 0
  }
}